@use 'sass:map';
@use 'sass:math';

@mixin activeMenu {
    background-color: if(map.get($SETTINGS, theme), getThemeTag(primary-background-color), map.get($COLORS, background));
    color: if(map.get($SETTINGS, theme), getThemeTag(secondary-text-color), map.get($COLORS, default));
}

.menu {
    &__list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        
        @include rem(row-gap, 10px);
    }

    &__link {
        flex: 1;
    }

    @include media(tablet, max) {
        $padding_x: map.get($BASE, container_padding_x);

        flex: 1;

        &__body {
            position: fixed;
            width: calc(100dvw - $padding_x);
            height: 80dvh;
            bottom: 0;
            left: 0;
            opacity: 0;
            overflow-y: auto;
            visibility: hidden;
            z-index: map.get($ZINDEXES, highest);
            transform: translate3d(0,-100dvw,0);
            will-change: transform;
            background-color: if(map.get($SETTINGS, theme), getThemeTag(primary-background-color), map.get($COLORS, background));

            @include transition(background-color);

            @include rem((
                margin-left: math.div($padding_x, 2),
                margin-right: math.div($padding_x, 2),
                margin-bottom: math.div($padding_x, 2),
            ));
        }

        &__list {
            justify-content: flex-start;
            height: 100%;
        }

        &__item {
            background-color: if(map.get($SETTINGS, theme), getThemeTag(primary-background-color), map.get($COLORS, background));

            @include transition(background-color);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    @include activeMenu;
                }
            }

            &.active {
                @include activeMenu;
            }
        }

        &__link {
            display: flex;
        }

        &.active {
            .menu {
                &__body {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0,0,0);
                    z-index: map.get($ZINDEXES, highest);

                    @include transition(opacity, visibility, transform);
                }
            }
        }
    }
    @include media(tablet) {
        &__list {
            flex-flow: row wrap;
        }
        &__item {
            position: relative;
        }
    }
}