@font-face {
  font-family: "Chillax";
  src: url("../../assets/fonts/Chillax-Light.woff") format("woff"),
    url("../../assets/fonts/Chillax-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax";
  src: url("../../assets/fonts/Chillax-Regular.woff") format("woff"),
    url("../../assets/fonts/Chillax-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta";
  src: url("../../assets/fonts/Gambetta-Light.woff") format("woff"),
    url("../../assets/fonts/Gambetta-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta";
  src: url("../../assets/fonts/Gambetta-LightItalic.woff") format("woff"),
    url("../../assets/fonts/Gambetta-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../assets/fonts/Satoshi-Light.woff") format("woff"),
    url("../../assets/fonts/Satoshi-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../assets/fonts/Satoshi-Regular.woff") format("woff"),
    url("../../assets/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
