<%
//   Компонент <Carousel>: карусель изображений с поддержкой бесшовного скролла (marquee)
//   Использует <ul> и <li> для структуры слайдов и подключает компонент <Image> для каждого элемента
  
//   Основные особенности:
//   1. carousel_component.block — имя блока для модификации CSS-классов (по умолчанию 'carousel')
//   2. carousel_component.images — массив объектов изображений, каждый объект должен содержать атрибуты для <Image>:
//      - src, alt, width, height, loading, decoding, srcset и type
//   3. Внутренний <ul class="carousel__inner"> получает атрибут data-fsc-marquee для инициализации скролла
//   4. Каждый <li class="carousel__item"> содержит один компонент <Image> с переданными параметрами
  
//   Пример использования компонента:
//   <\%- include('Carousel.ejs', {
//        carousel_component: {
//            block: 'blockName',
//            images: [
//              {
//                src: 'src',
//                alt: 'alt',
//                width: 600,
//                height: 400,
//                loading: 'lazy',
//                decoding: 'async'
//              }
//            ],
//            data: [
//              'someText'
//            ]
//        }
//    }) %>
%>

<% 
    if(typeof carousel_component === 'undefined' || !carousel_component) {
        return
    }

    var blockCSS =  'carousel'
    var carouselImages = undefined
    var carouselData = undefined

    if(typeof carousel_component.block !== 'undefined' && carousel_component.block) {
        blockCSS = `class="${carousel_component.block}__carousel carousel"`
    }
    else if(typeof carousel_component.class !== 'undefined' && carousel_component.class) {
        blockCSS = `class="${carousel_component.class} carousel"`
    }

    if(typeof carousel_component.images !== 'undefined' && carousel_component.images) {
        carouselImages = carousel_component.images
    } else if(typeof carousel_component.data !== 'undefined' && carousel_component.data) {
        carouselData = carousel_component.data
    }
%>

<article <%- blockCSS %>>
    <ul class="carousel__inner" data-fsc-marquee data-fsc-marquee-speed="1000">
        <% if(typeof carouselImages !== 'undefined' && carouselImages) { %>
            <% for(const image of carouselImages) { %>
                <li class="carousel__item" data-fsc-marquee-item>
                    <%- include('../Image/Image.ejs', {
                        image_component: {
                            block: 'carousel',
                            img: image
                        } 
                    }) %>
                </li>           
            <% } %>
        <% } else if(typeof carouselData !== 'undefined' && carouselData) { %>
            <% for(const item of carouselData) { %>
                <li class="carousel__item" data-fsc-marquee-item>
                    <%= item %>
                </li>           
            <% } %>
        <% } %>
    </ul>
</article>