$FONT_SIZE: 18px;
$PIXELS_ONLY: false;
$FONT_FAMILY: '';
$TEXT_COLOR: #000;

$MEDIA: (
    normal: 1399.98px,
    wide: 1199.98px,
    desktop: 991.98px,
    tablet: 767.98px,
    mobile: 579.98px
);

$H_HEADERS_FONTS: (
    1: 1px 1px,
    2: 1px 1px,
    3: 1px 1px,
    4: 1px 1px,
    5: 1px 1px,
    6: 1px 1px
);

$BURGER: (
    color_primary: #000,
    color_active: red,
    origin_top: 0,
    origin_bottom: 0,
    animation_speed: .2s
);