:root {
  line-height: 1;
  font-size: $FONT_SIZE;
  font-family: $FONT_FAMILY;
  font-weight: 400;
  color: $TEXT_COLOR;
}

body {
    &.active {
        overflow: hidden;
    }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  & > main {
    flex-grow: 1;
  }
}

._container {
    width: 100%;
    max-width: 100%;
    $paddings: 15px;
    margin: 0 auto;
    @include rem(padding, 0 $paddings);
    background: rgb(215, 198, 198);
    height: 100dvh;

    @include media(mobile) {
      $paddings: 24px;

       @include rem((
        max-width: calc(540px + $paddings * 2),
        padding: 0 $paddings
      ))
    }
    @include media(tablet) {
      $paddings: 32px;

       @include rem((
        max-width: calc(720px + $paddings * 2),
        padding: 0 $paddings
      ))
    }
    @include media(desktop) {
      $paddings: 40px;

       @include rem((
        max-width: calc(960px + $paddings * 2),
        padding: 0 $paddings
      ))
    }
    @include media(wide) {
      $paddings: 48px;

       @include rem((
        max-width: calc(1140px + $paddings * 2),
        padding: 0 $paddings
      ))
    }
    @include media(normal) {
      $paddings: 64px;

       @include rem((
        max-width: calc(1320px + $paddings * 2),
        padding: 0 $paddings
      ))
    }
}