

@each $i, $values in $H_HEADERS_FONTS {
    $fsz: nth($values, 1);
    $lh: nth($values, 2);

    h#{$i} {
        @include rem(font-size, $fsz);
        @include line-height($lh, $fsz);
        font-weight: 600;
        overflow-wrap: break-word;


        @media (min-width: map-get($MEDIA, desktop)) {
            @include rem(font-size, calc($fsz * 1.4));
        }
        @media (min-width: map-get($MEDIA, tablet)) {
            @include rem(font-size, calc($fsz * 1.3));
        }
        @media (min-width: map-get($MEDIA, mobile)) {
            @include rem(font-size, calc($fsz * 1.25));
        }
    }
}

p {
    overflow-wrap: break-word;
}


