@use 'sass:map';

@mixin accordionHover {
    [data-fsc-accordion-body] {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
        max-height: 500px;
    }

    [data-fsc-accordion-touch] {
        transform: rotate(180deg);
    }
}

@mixin accordionHoverActive {
    [data-fsc-accordion-body] {
        transform: scaleY(0);
        transform-origin: top;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }

    [data-fsc-accordion-touch] {
        transform: rotate(0deg);
    }
}

%accordionHide {
    [data-fsc-accordion-body] {
        transform: scaleY(0);
        transform-origin: top;
        max-height: 0;
        opacity: 0;
        visibility: hidden;

        @include transition(max-height, transform, opacity, visibility);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @include accordionHover;
        }
    }

    &[data-fsc-accordion-active] {
        @include accordionHover;
    }
}

[data-fsc-accordion] {
    [data-fsc-accordion-summary] {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: text;
    }

    &[data-fsc-accordion-behaviour='active'] {
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                @include accordionHoverActive;
            }
        }

        &[data-fsc-accordion-active] {
            @include accordionHoverActive;
        }
    }

    &[data-fsc-accordion-behaviour='default'],
    &[data-fsc-accordion-behaviour='alternative'] {
        @extend %accordionHide;
    }
}