 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if(typeof title !== 'undefined' && title) { %>
    <title><%=title%></title>
    <% }  %>
    <link rel="stylesheet" href="./css/index.css" />
 </head>
