@use "sass:meta";
@use "sass:map";
@use "sass:list";
@use "sass:math";

@import './default/functions';

@function pxToRem($px, $base: null) {
    @if map.get($SETTINGS, pixels_only) or math.unit($px) != 'px' {
        @return $px;
    }   
    
    @if not $base or $base == '_' {
        $base: if(map.get($BASE, font_size_original), map.get($BASE, font_size_original), 16px);
    } @else {
        $base: if(math.is-unitless($base), $base * 1px, $base);
    }

    @if($base <= abs($px) + 5px) {
       @return calc(round(($px / $base) * 100) / 100) * 1rem;
    } @else {
        @return $px;
    }
}

@function pxAdaptive($arg1, $base: null) {
    @if meta.type-of($arg1) == 'list' {
        $result: ();

        @each $px in $arg1 {
            @if map.get($SETTINGS, pixels_only) or math.unit($px) != 'px' {
                $result: list.append($result, $px);
            } @else {
                @if not $base or $base == '_' {
                    $base: if(map.get($BASE, font_size_original), map.get($BASE, font_size_original), 16px);
                } @else {
                    $base: if(math.is-unitless($base), $base * 1px, $base);
                }   

                $result: list.append($result, pxAdaptive($px, $base));
            }
        }

        @return $result;
    } @else if meta.type-of($arg1) == 'number' {
        $px: $arg1;

        @if map.get($SETTINGS, pixels_only) or math.unit($px) != 'px' {
            @return $px;
        }   

        @if not $base or $base == '_' {
            $base: if(map.get($BASE, font_size_original), map.get($BASE, font_size_original), 16px);
        } @else {
            $base: if(math.is-unitless($base), $base * 1px, $base);
        }   

        @return pxToRem($px, $base);
    } @else  {
        @warn 'FUNCTION pxAdaptive($px, $base): The value ' + $px + ' is NOT a number OR list';
        @return undefined;
    }
}