%addCounter {
    counter-increment: item;
    &::before {
        content: counter(item, decimal-leading-zero);
    }
}

// watcher animate
%watcherDefault {
    &[data-fsc-watcher] {
        transition: 
            opacity .6s ease-in-out,
            transform 1s cubic-bezier(.16,1,.3,1);
        transform: translateY(-40px);
        opacity: 0;

        &.intersected {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
%watcherDefaultReverse {
    &[data-fsc-watcher] {
        transition: 
            opacity .6s ease-in-out,
            transform 1s cubic-bezier(.16,1,.3,1);
        transform: translateY(40px);
        opacity: 0;

        &.intersected {
            transform: translateY(0);
            opacity: 1;
        }
    }
}